*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

ion-toolbar{
  --background: #0c9f0f;
}

ion-title{
  text-align: center;
}

ion-content{
  --background: #fff;
}

.container{
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 1%;
}

.label{
  color: black;
  text-align: start;
  font-size: 1.2em;
  font-weight: 500;
  padding-bottom: 1%;
}

.cont_page{
  padding-left: 9%;
  overflow-y: auto;
  max-height: calc(100vh - 210px);
}

.container .form-outer{
  width: 100%;
  overflow: hidden;
}

.container .form-outer form{
  display: flex;
  width: 400%;
}

.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.form-outer form .page .title{
  text-align: left;
  color:#000;

}

.form-outer form .page .field{
  width: 330px;
  height: 45px;
  margin-bottom: 15%;
}

.page2{
  overflow-y: auto;
  max-height: calc(100vh - 210px);
}

ion-input{
  text-align: start;
  color: #000;
  font-size: 18px;
  border-radius: 5px;
}

.container .form-outer{
  width: 100%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: center;
  font-size: 2em;
  font-weight: 600;
}
.form-outer form .page .field{
  width: 330px;
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  top: -30px;
  font-weight: 500;
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button{
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background:  #0c9f0f;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover{
  background: #000;
}
form .page .btns button{
  margin-top: -20px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next{
  margin-left: 3px;
}
.container .progress-bar{
  display: flex;
  margin: 40px 0;
  justify-content: center;
  user-select: none;
  color: #000;
}
.container .progress-bar .step{
  text-align: center;
  width: 20%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active{
  border-color:  #0c9f0f;
  background:  #0c9f0f;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
  background: #262626;
}
.progress-bar .step .bullet.active:after{
  background:  #0c9f0f;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color:  #0c9f0f;
  transition: 0.2s linear;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active{
  display: block;
  color: #fff;
}

.field-btns{
  display: flex;
  justify-content: center;
}

.btn1, .btn2{
  font-size: 1.2em;
  margin-top: 5%;
  color: #fff;
  border-radius: 5px;
  width: 50%;
  height: 50px;
  --background:  #0c9f0f;;
}

.btn2{
  margin: 0% 9%;
  margin-bottom: 10%;
}



.label2{
  margin-top: 5%;
}

.cont{
  margin-top: 20%;
}

.txt_tiempo{
  font-size: 1em;
}