ion-title{
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
img{
    width: 100%;
    height: 100%;
    
}
.content-img{
    display: grid;
    justify-content: center;
}
ion-content{
    --background: #ffffff;
}
ion-button{
    border: 2px solid #000000;
    border-radius: 10px;
    
    margin: 2% 5%;
}
ion-toolbar{
    --background: #0c9f0f;
}