<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Opcion de Reposabrazos</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goNext()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="content-img"> 
      <p>La puntuacion obtenida se incrementa si ocurre</p>
  <ion-button fill="clear" (click)="handleClick(1)">
    <img src="assets/imgs/img-posturas/Puntuacion de los reposabrazos/postura3.png" alt="silla" >
  </ion-button>
  <ion-button fill="clear" (click)="handleClick(1)">
    <img src="assets/imgs/img-posturas/Puntuacion de los reposabrazos/postura4.png" alt="silla" >
  </ion-button>
  <ion-button fill="clear" (click)="handleClick(1)">
    <img src="assets/imgs/img-posturas/Puntuacion de los reposabrazos/postura5.png" alt="silla" >
  </ion-button>
</div>
</ion-content>
  