<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tiempo</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goNext()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="content-img"> 
  <p>Menos de 1 hora en total o menos de 30 minutos ininterrumpidos</p>
  <ion-button fill="clear" (click)="handleClick(-1)">
    <img src="assets/imgs/img-posturas/tiempo/tiempo-1.png" alt="silla" >
  </ion-button>
  <p>Entre 1 y 4 horas en total o entre 30 minutos y 1 hora ininterrumpida</p>
  <ion-button fill="clear" (click)="handleClick(0)">
    <img src="assets/imgs/img-posturas/tiempo/tiempo0.png" alt="silla" >
  </ion-button>
  <p>Más de 4 horas o más de 1 hora ininterrumpida</p>
  <ion-button fill="clear" (click)="handleClick(1)">
    <img src="assets/imgs/img-posturas/tiempo/tiempo1.png" alt="silla" >
  </ion-button>
</div>
</ion-content>