<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Resultado</ion-title>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goNext()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="formData">
  <div class="datos">
    <h1>Datos del puesto</h1>
    <h3>Identificador del puesto</h3>
    <p>{{formData.identificador}}</p>
    <h3>Descripción</h3>
    <p>{{formData.descripcion}}</p>
    <h3>Empresa</h3>
    <p>{{formData.empresa}}</p>
    <h3>Departamento/Área</h3>
    <p>{{formData.departamento}}</p>
    <h3>Sección</h3>
    <p>{{formData.seccion}}</p>

    <h1>Datos de la evaluación</h1>
    <h3>Empresa evaluadora</h3>
    <p>{{formData.empresaEvaluadora}}</p>
    <h3>Nombre del evaluador</h3>
    <p>{{formData.nombreEvaluador}}</p>
    <h3>Fecha de evaluación</h3>
    <p>{{formData.fechaEvalucion}}</p>

    <h1>Datos del trabajador</h1>
    <h3>Nombre del trabajador</h3>
    <p>{{formData.nombreTrabajador}}</p>
    <h3>sexo</h3>
    <p>{{formData.sexo}}</p>
    <h3>Edad</h3>
    <p>{{formData.edad}}</p>
    <h3>antiguedad del Puesto</h3>
    <p>{{formData.antiguedadPuesto}}</p>
    <h3>Tiempo que ocupa en el puesto por jornada</h3>
    <p>{{formData.tiempoJornada}}</p>
    <h3>Duraccion de la jornada laboral</h3>
    <p>{{formData.duraccionLaboral}}</p>
    <h3>Observacion</h3>
    <p>{{formData.Observacion}}</p>

    <div class="resultado">
      <h1>Resultados</h1>
      <div class="tabla-ab">
        <div class="tabla">
          <h3>Tabla A:</h3>
          <p>{{ resultadoTablaRA }}</p>
        </div>
        <div class="tabla">
          <h3>Tabla B:</h3>
          <p>{{ resultadoTablaPT }}</p>
        </div>

        <div class="tabla">
          <h3>Tabla C:</h3>
          <p>{{ resultadoTablaTM }}</p>
        </div>
        <div class="tabla">
          <h3>Tabla D:</h3>
          <p>{{ resultadoTablaD }}</p>
        </div>
      </div>
      <div class="tabla-ab">
        <div class="tabla">
          <h3>Tabla E:</h3>
          <p>{{ resultadoTablaE }}</p>
        </div>
        
        
      </div>
      <div class="tabla">
        <h3>Recomendación:</h3>
        <p>{{ Actuacion() }}</p>
      </div>
    </div>
  </div>
</ion-content>
